<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="container-fluid p-0 w-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">{% block titleDB %}Database{% endblock %}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav w-100 mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% block tableActive %}{% endblock %}"  id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Таблицы
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                             {% block tableList %}{% endblock %}

                        </ul>
                    </li>
                    <li class="nav-item w-100">

                        <div class="container-fluid w-100">
                            <div class="row">
                            <div class="col">

                                {% block disable %} <button type="button" class="btn btn-light"  data-bs-toggle="modal"
                            data-bs-target="#addModal"  disabled data-bs-whatever="@mdo">Добавить</button>{% endblock %}
                            </div>
                            <div class="d-flex col justify-content-end">
                                <button type="button" onclick="location.href='{% url 'admin:index' %}'" class="btn btn-light ">Админка</button>
                            </div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="d-flex justify-content-center mt-1">
        <table class="table table-dark table-hover mb-0">
            <thead>
                <tr>
                    {% block tableTitles %}{% endblock %}
                </tr>
            </thead>
            <tbody>
            {% block tableView %}{% endblock %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Добавление строки</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                 <form class="container-fluid" method="post">
                     {% csrf_token %}
                <div class="modal-body">
                {% block addModal %}{% endblock %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-sm btn-danger" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-dark " >Добавить</button>
                </div>
                </form>
            </div>
        </div>
    </div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
                   <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Изменение строки</h5>

                {% block editModal %}{% endblock %}
            </div>
        </div>
    </div>


</body>

</html>