{% extends 'main/base.html' %}

{% block title %}
Главная
{% endblock %}

{% block tableActive %}

{% endblock %}

{% block tableList %}
<li><a class="dropdown-item " type="submit" href="{% url 'student' %}">Студент</a></li>
<li><a class="dropdown-item " href="{% url 'faculty' %}">Факультет</a></li>
<li><a class="dropdown-item" href="{% url 'speciality' %}">Специальность</a></li>
{% endblock %}

{% block tableTitles %}
{% endblock %}

{% block tableView %}
{% endblock %}

{% block addModal %}
{% endblock %}

{% block editModal %}
{% endblock %}

