{% extends 'main/base.html' %}

{% block title %}
Специальность
{% endblock %}

{% block titleDB %}Специальность{% endblock %}

{% block tableActive %}
active
{% endblock %}

{% block disable %}
<button type="button" class="btn btn-light"  data-bs-toggle="modal"
                            data-bs-target="#addModal"   data-bs-whatever="@mdo">Добавить</button>{% endblock %}

{% block tableList %}
<li><a class="dropdown-item " type="submit" href="{% url 'student' %}">Студент</a></li>
<li><a class="dropdown-item " href="{% url 'faculty' %}">Факультет</a></li>
<li><a class="dropdown-item active" href="{% url 'speciality' %}">Специальность</a></li>
{% endblock %}

{% block tableTitles %}
<th scope="col">Код специальности</th>
<th scope="col">Наименование</th>
<th scope="col">Действие</th>
{% endblock %}

{% block tableView %}
{% for i in specialitys %}
<tr>
                            <th scope="row">{{i.id}}</th>
                            <td>{{i.name}}</td>
    <td><button type="submit" class="btn btn-light" onclick="location.href='{% url 'specialityEdit' id=i.id %}'" >Изменить</button></td>
                        </tr>
{% endfor %}
{% endblock %}

{% block addModal %}
<div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon2">Name</span>
                            {{ form.name }}
                        </div>
{% endblock %}

{% block editModal %}
{% if request.path != '/speciality' %}
 <button type="button" class="btn-close" onclick="location.href='{% url 'speciality' %}'" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                 <form class="container-fluid" method="post">
                     {% csrf_token %}
                <div class="modal-body">
<div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon2">Name</span>
                            {{ form.name }}
                        </div>
                     </div>
                <div class="modal-footer">
                    <button type="button" name="delete" onclick="location.href='{% url 'specialityDelete' id=id %}'" class="btn-sm btn-danger" data-bs-dismiss="modal">Удалить</button>
                    <button type="submit" name="save"  class="btn btn-dark">Сохранить</button>
                </div>
                     </form>
                    <script type="text/javascript">
    window.onload = function () {
        OpenBootstrapPopup();
    };
    function OpenBootstrapPopup() {
        $("#editModal").modal('show');
    }
</script>
                    {% endif %}
{% endblock %}

