{% extends 'main/base.html' %}

{% block title %}
Студент
{% endblock %}

{% block titleDB %}Студент{% endblock %}

{% block tableActive %}
active
{% endblock %}

{% block disable %}
<button type="button" class="btn btn-light"  data-bs-toggle="modal"
                            data-bs-target="#addModal"   data-bs-whatever="@mdo">Добавить</button>{% endblock %} 

{% block tableList %}
<li><a class="dropdown-item active" type="submit" href="{% url 'student' %}">Студент</a></li>
<li><a class="dropdown-item " href="{% url 'faculty' %}">Факультет</a></li>
<li><a class="dropdown-item" href="{% url 'speciality' %}">Специальность</a></li>
{% endblock %}

{% block tableTitles %}
<th scope="col">Код студента</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Дата поступления</th>
                    <th scope="col">Факультет</th>
                    <th scope="col">Специальность</th>
                    <th scope="col">Курс</th>
                    <th scope="col">Группа</th>
<th scope="col">Действие</th>
{% endblock %}

{% block tableView %}
{% for i in students %}
<tr>
                            <th scope="row">{{i.id}}</th>
                            <td>{{i.name}}</td>
    <td>{{i.dateIn}}</td>
    <td>{{i.facultyId}}</td>
    <td>{{i.specialityId}}</td>
    <td>{{i.course}}</td>
    <td>{{i.group}}</td>
    <td><button type="submit" class="btn btn-light"  onclick="location.href='{% url 'studentEdit' id=i.id %}'" >Изменить</button></td>
</tr>
{% endfor %}
{% endblock %}

{% block addModal %}
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon12">Name</span>
                            {{ form.name }}
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon">DateIn</span>
                            {{ form.dateIn }}
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon13">FacultyId</span>
                            {{ form.facultyId }}
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon14">SpecialityId</span>
                            {{ form.specialityId }}
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon15">Course</span>
                            {{ form.course }}
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon16">GroupNum</span>
                            {{ form.group }}
                        </div>
{% endblock %}

{% block editModal %}
{% if request.path != '/student' %}
 <button type="button" class="btn-close" onclick="location.href='{% url 'student' %}'" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                 <form class="container-fluid" method="post">
                     {% csrf_token %}
                <div class="modal-body">
 <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon12">Name</span>
                            {{ form.name }}
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon">DateIn</span>
                            {{ form.dateIn }}
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon13">FacultyId</span>
                            {{ form.facultyId }}
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon14">SpecialityId</span>
                            {{ form.specialityId }}
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon15">Course</span>
                            {{ form.course }}
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon16">GroupNum</span>
                            {{ form.group }}
                        </div>
                     </div>
                <div class="modal-footer">
                    <button type="button" name="delete" onclick="location.href='{% url 'studentDelete' id=id %}'" class="btn-sm btn-danger" data-bs-dismiss="modal">Удалить</button>
                    <button type="submit" name="save"  class="btn btn-dark">Сохранить</button>
                </div>
                     </form>
                    <script type="text/javascript">
    window.onload = function () {
        OpenBootstrapPopup();
    };
    function OpenBootstrapPopup() {
        $("#editModal").modal('show');
    }
</script>
                    {% endif %}
{% endblock %}

